apiVersion: v1
kind: Service
metadata:
  name: {{ include "aws-webapp-manifests.name" . }}
  namespace: {{ include "ns" . }}
  labels:
    {{- include "aws-webapp-manifests.selectorLabels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "aws-webapp-manifests.selectorLabels" . | nindent 4 }}
